/* Navigation Bar Styling */

nav {
    background-color: #333;      
    padding: 10px;              
}

/* Horizontal links */
nav a {
    display: inline-block;       
    color: white;               
    text-decoration: none;      
    padding: 10px 20px;        
    margin: 0 5px;        
    font-size: 18px;
}

nav a:hover {
    background-color: #555;     
    color: yellow;         
}
